.top-by-5px {
	margin-top: 5px;
}
.height-100px {
	min-height: 100px;
	height: 100px;
	max-height: 100px;
}
.height-150px {
	min-height: 150px;
	height: 150px;
	max-height: 150px;
}
.height-300px {
	min-height: 300px;
	height: 300px;
	max-height: 300px;
}
.overflow {
	overflow: auto;
}
canvas {
	/*border: dotted;*/
	z-index: 9998;
	position: absolute;
}
#theCanvasJSShadow {
	z-index: 9997;
	border-color: red;
	visibility: hidden;
}
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*.fix-width-margin {
	width: 100%;
}*/