<div class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-heading">Exercise 3</div>
			<div class="panel-body text-justify">
				<p>
					Using the div editor from a previous exercise, enhance it with a history stack. Each action the user takes should be stored and be able to be undone; Create a mechanism for the user to define a macro*.
				</p>
				<p>	* A set of custom, predefined instructions to be applied in a given order at a later point.</p>
				<p> <strong>Patterns suggested:</strong> command pattern </p>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
<!-- 		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">This is a list of cities in Mexico by fixed population, according to the 2010 Mexican national census</label>
				<input type="text" class="form-control" placeholder="Write text to filter information bellow" id="filter">
				<div id="cities" class="form-control overflow top-by-5px"> </div>
			</div>
		</form> -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>