<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Exercise 3</h3>
			</div>
			<div class="panel-body text-justify">
				<p>
					Using the div editor from a previous exercise, enhance it with a history stack. Each action the user takes should be stored and be able to be undone; Create a mechanism for the user to define a macro*.
				</p>
				<p>	* A set of custom, predefined instructions to be applied in a given order at a later point.</p>
				<p> <strong>Patterns suggested:</strong> command pattern </p>
			</div>
		</div>
	</div>
</div> <!-- row -->
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Controls</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="background-color">Background Color</label>
					<input id="background-color" type="text" value="" name="background-color" class="pick-a-color form-control">
				</div>
				<div class="form-group">
					<label for="border-color">Border Color</label>
					<input id="border-color" type="text" value="ff0000" name="border-color" class="pick-a-color form-control">
				</div>
				<div class="form-group row">
					<label for="border-thickness" class="col-sm-6 col-xs-6">Border Thickness</label>
					<input id="border-thickness" value="5" name="border-width" class="slider form-control col-sm-6 col-xs-6">
				</div>
				<br>
				<div class="form-group row">
					<label for="round-edges" class="col-sm-6 col-xs-6">Round Edges</label>
					<input id="round-edges" value="5" name="border-radius" class="slider form-control col-sm-6 col-xs-6">
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Macros</h3>
			</div>
			<div class="panel-body">
				<a id="REC"  class="btn btn-info"><span class="glyphicon glyphicon-record"></span> REC</a>
				<a id="DISCARD" class="btn btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> DISCARD</a>
				
				<div class="btn-group">
					<button id="SAVE" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> SAVE</button>
					<button id="APPLY" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
						APPLY
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul id="MACRO_BUTTONS" class="dropdown-menu text-center" role="menu">
						<li>
							<div class="btn-group">
								<button data-macroID="-1" type="button" class="btn btn-default">
									Current
								</button>
<!-- 						<button type="button" class="btn btn-danger">
									<span class="glyphicon glyphicon-remove-sign"></span>
								</button> -->
							</div>
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> SAVE</a> -->
				<!-- <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> REMOVE</a> -->
			</div>
		</div>
	</div> <!-- col-sm-4 -->
	<div id="panelWrapper" class="col-sm-8">
		<div id="shapesPanel" class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Squares :: Drag and Drop here squares that you don't want to modify</h3>
			</div>
			<div id="shapesPanelBody" class="panel-body min-height-300px">
				<!-- Basic panel example -->
			</div>
		</div>
		<div id="modifyingPanel" class="panel panel-default height-150px">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Modify :: Drag and Drop here squares that you want to modify</h3>
			</div>
			<div id="modifyingPanelBody" class="panel-body">
				<!-- Basic panel example -->
			</div>
		</div>
	</div> <!-- col-sm-8 -->
</div>