<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Exercise 3</h3>
			</div>
			<div class="panel-body text-justify">
				<p>
					Using the div editor from a previous exercise, enhance it with a history stack. Each action the user takes should be stored and be able to be undone; Create a mechanism for the user to define a macro*.
				</p>
				<p>	* A set of custom, predefined instructions to be applied in a given order at a later point.</p>
				<p> <strong>Patterns suggested:</strong> command pattern </p>
			</div>
		</div>
	</div>
</div> <!-- row -->
<div class="row">
	<div class="col-sm-8">
		<div id="shapesPanel" class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Squares :: Drag and Drop here squares that you don't want to modify</h3>
			</div>
			<div id="shapes" class="panel-body">
				Basic panel example
			</div>
		</div>
		<div id="" class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Modify :: Drag and Drop here squares that you want to modify</h3>
			</div>
			<div id="modifyingDivs" class="panel-body">
				Basic panel example
			</div>
		</div>
	</div> <!-- col-sm-8 -->
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Controls</h3>
			</div>
			<div class="panel-body">
				<input type="text" value="" placeholder="Background" name="background-color" class="pick-a-color form-control">
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Macros</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div> <!-- col-sm-4 -->
</div>