<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Exercise 1</div>
				<div class="panel-body text-justify">
					<p>
						Create a search filter for a reasonably sized set of words. The full, reasonably sized list of words must be displayed if the user has not inserted any filtering text. A filter text box must allow the user to insert text. The word list must be immediately updated, showing only the words that contain the filter text.
					</p>
					<p> <strong>Patterns suggested:</strong> observer, mvp, module </p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Exercise 1</div>
				<div class="panel-body text-justify">
					<p>
						Using Canvas, create a UI that will allow the user to insert shapes such as squares and circles into the canvas and move them around when clicking on them again. The user must have at least two choices for figures. When the user clicks on the canvas area, the selected action must be performed. Selected actions include: insert selected figure into the clicked location; if the user clicked on where a figure is already located, they must be able to drag it and change its position
					</p>
					<p> <strong>Patterns suggested:</strong> observer, factory, constructor, prototype, interface </p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Exercise 1</div>
				<div class="panel-body text-justify">
					<p>
						Using the div editor from a previous exercise, enhance it with a history stack. Each action the user takes should be stored and be able to be undone; Create a mechanism for the user to define a macro*.
					</p>
					<p>	* A set of custom, predefined instructions to be applied in a given order at a later point.</p>
					<p> <strong>Patterns suggested:</strong> command pattern </p>
				</div>
			</div>
		</div>
	</div>
</div>