<div class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-heading">Exercise 1</div>
			<div class="panel-body text-justify">
				<p>
					Create a search filter for a reasonably sized set of words. The full, reasonably sized list of words must be displayed if the user has not inserted any filtering text. A filter text box must allow the user to insert text. The word list must be immediately updated, showing only the words that contain the filter text.
				</p>
				<p> <strong>Patterns suggested:</strong> observer, mvp, module </p>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">This is a list of cities in Mexico by fixed population, according to the 2010 Mexican national census</label>
				<input type="text" class="form-control" placeholder="Write text to filter information bellow" id="filter">
				<div id="cities" class="form-control overflow top-by-5px height-150px"> </div>
			</div>
		</form>
	</div>
</div>