<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Exercise 2</div>
			<div class="panel-body text-justify">
				<p>
					Using Canvas, create a UI that will allow the user to insert shapes such as squares and circles into the canvas and move them around when clicking on them again.
					<ul class="list-group">
						<li class="list-group-item">The user must have at least two choices for figures.</li>
						<li class="list-group-item">When the user clicks on the canvas area, the selected action must be performed.</li>
						<li class="list-group-item">
							<p>Selected actions include:</p>
							<p>1. Insert selected figure into the clicked location.</p>
							<p>2. If the user clicked on where a figure is already located, they must be able to drag it and change its position.</p>
						</li>
					</ul>
				</p>
				<p> <strong>Patterns suggested:</strong> observer, factory, constructor, prototype, interface </p>
			</div>
		</div>
	</div>
	<!-- Inputs to get specs of next shape -->
	<div id="form" class="col-sm-8">
		<h4>Select your polygon specs and click or tap twice</h4>
		<div class="row">
			<div class="col-sm-6 top-by-5px">
				<div class="input-group">
					<input type="text" class="form-control text-center" name="size" pattern="[a-zA-Z]*|[0-9]{2}">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Size <span class="caret"></span></button>
						<ul id="size" class="dropdown-menu pull-right" name="specs">
							<li><a href="">Small</a></li>
							<li><a href="">Medium</a></li>
							<li><a href="">Large</a></li>
						</ul>
					</div><!-- /btn-group -->
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-sm-6 top-by-5px">
				<div class="input-group">
					<input type="text" class="form-control text-center" name="shape">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Polygon shape <span class="caret"></span></button>
						<ul id="shape" class="dropdown-menu pull-right" name="specs">
							<li><a href="">Tirangle</a></li>
							<li><a href="">Quadrilateral</a></li>
							<li><a href="">Pentagon</a></li>
						</ul>
					</div><!-- /btn-group -->
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-sm-6 top-by-5px">
				<div class="input-group">
					<input type="text" class="form-control text-center" name="stroke">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Stroke color <span class="caret"></span></button>
						<ul id="stroke" class="dropdown-menu pull-right" name="specs">
							<li><a href="">Black</a></li>
							<li><a href="">Blue</a></li>
							<li><a href="">Red</a></li>
							<li class="divider"></li>
							<li class="text-center">Choose: <input type="color"></li>
						</ul>
					</div><!-- /btn-group -->
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-sm-6 top-by-5px">
				<div class="input-group">
					<input type="text" class="form-control text-center" name="fill">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Fill color <span class="caret"></span></button>
						<ul id="fill" class="dropdown-menu pull-right" name="specs">
							<li><a href="">Black</a></li>
							<li><a href="">Blue</a></li>
							<li><a href="">Red</a></li>
							<li class="divider"></li>
							<li class="text-center">Choose: <input type="color"></li>
						</ul>
					</div><!-- /btn-group -->
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-sm-12 top-by-5px">
				<div id="canvasContainer" class="form-control height-300px" data-canvasID="theCanvasJS">
					<canvas id="theCanvasJS"></canvas>
					<canvas id="theCanvasJSShadow"></canvas>
				</div>
			</div><!-- /.col-lg-12 -->
			<div class="col-sm-6 top-by-5px text-center">
				<div class="btn-group" data-toggle="buttons-checkbox">
					<button type="button" id="changeVisibility" class="btn btn-warning">Switch between Canvas and the Shadow</button>
				</div>
			</div><!-- /.col-lg-12 -->
			<div class="col-sm-6 top-by-5px text-center">
				<button type="button" id="clearCanvas" class="btn btn-danger">Clear Canvas</button>
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->

		
		

	</div>
</div>