<div class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-heading">Exercise 1</div>
			<div class="panel-body text-justify">
				<p>
					Using Canvas, create a UI that will allow the user to insert shapes such as squares and circles into the canvas and move them around when clicking on them again. The user must have at least two choices for figures. When the user clicks on the canvas area, the selected action must be performed. Selected actions include: insert selected figure into the clicked location; if the user clicked on where a figure is already located, they must be able to drag it and change its position
				</p>
				<p> <strong>Patterns suggested:</strong> observer, factory, constructor, prototype, interface </p>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">This is a list of cities in Mexico by fixed population, according to the 2010 Mexican national census</label>
				<input type="text" class="form-control" placeholder="Write text to filter information bellow" id="filter">
				<div id="cities" class="form-control overflow top-by-5px"> </div>
			</div>
		</form>
	</div>
</div>